<div class="container">
  <h1>Contacto</h1>

<div id="texto" #textos>
  <p appResaltado >
    Esta es la página de contacto, puedes enviar cualquier duda.
  </p>  
</div>
  

<!--
  Tamaño slider
  <input type="number" [(ngModel)]="widthSlider" (keyup.enter)="cargarSlider()"/>
  <button (click)="cargarSlider()">Cargar</button>
  <button (click)="resetSlider()">Reset</button>

  <div *ngIf="anchuraToSlider">
    <slider [anchura]="anchuraToSlider"
            [etiquetas]="captions"
            (conseguirAutor)="getAutor($event)">    
    </slider> 
  </div>

  <h2>Datos autor</h2>
  <p>{{autor.nombre}}</p>
  <p>{{autor.website}}</p>
  <p>{{autor.youtube}}</p>
  
-->
 
</div>

