<div class="container" *ngIf="project">
	<h2>{{title}}</h2>	


	<div class="message success" *ngIf="status == 'success'">
		<p>El proyecto se ha creado correctamente puedes <a [routerLink]="['/proyecto',save_project._id]" >verlo aquí</a></p>
	</div>

	<div class="message failed" *ngIf="status == 'failed'">
		<p>El proyecto no se ha creado</p>
		
	</div>


	<form #projectForm="ngForm" (ngSubmit)="onSubmit(projectForm)">

		<p>
			<label for="name">Nombre</label>
			<input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
			<span class="form_error" *ngIf="name.touched && !name.valid">Nombre obligatorio.</span>
		</p>

		<p>
			<label for="description">Descripción</label>
			<textarea name="description" #description="ngModel" [(ngModel)]="project.description" required > </textarea>
			<span class="form_error" *ngIf="description.touched && !description.valid">Descripción obligatoria.</span>
		</p>

		<p>
			<label for="category">Categoria</label>
			<input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required>
			<span class="form_error" *ngIf="category.touched && !category.valid">Categoria obligatoria.</span>
		</p>

		<p>
			<label for="year">Año de lanzamiento</label>
			<input type="number" name="year" #year="ngModel" [(ngModel)]="project.year">

		</p>

		<p>
			<label for="langs">Lenguajes</label>
			<input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required>
			<span class="form_error" *ngIf="langs.touched && !langs.valid">Lenguajes obligatorios.</span>
		</p>

		<p>
			<label for="image">Imagen del proyecto</label>
			<span class="div-img" *ngIf="project.image" style="float: none;">
				<img src="{{url+'getIMG/'+project.image}}" style="width: 100px;" />
				<br>
			</span>	
			
			<input type="file" placeholder="Subir Imagen" name="image" (change)="fileChangeEvent($event)" />
		</p>

		<input type="submit" value="Enviar" [disabled]="!projectForm.form.valid">
		
	</form>
</div>


